<nav class='navbar navbar-expand-lg navbar-dark bg-dark'>
  <div class='container'>
    <a class='navbar-brand' href='/'>F8 Education</a>
    <button
      class='navbar-toggler'
      type='button'
      data-toggle='collapse'
      data-target='#navbarSupportedContent'
      aria-controls='navbarSupportedContent'
      aria-expanded='false'
      aria-label='Toggle navigation'
    >
      <span class='navbar-toggler-icon'></span>
    </button>

    <div class='collapse navbar-collapse' id='navbarSupportedContent'>
      <ul class='navbar-nav ml-auto'>

        <li class='nav-item dropdown'>
          <a
            class='nav-link dropdown-toggle'
            href='#'
            id='navbarDropdown'
            role='button'
            data-toggle='dropdown'
            aria-haspopup='true'
            aria-expanded='false'
          >
            <img
              src='https://yt3.ggpht.com/Bowu64_L_wQCKPCv-9Y_LWqSUd9sgzQ6nnsZa62LEhznDNk6lbkbEGgZPAL3FPi9EGj-qlPyGA=s68-c-k-c0x00ffffff-no-rj'
              alt=''
              class='user-avatar'
            />
            Tan Le
          </a>

          <div class='dropdown-menu' aria-labelledby='navbarDropdown'>
            <a class='dropdown-item' href='/courses/create'>Add Course</a>
            <div class='dropdown-divider'></div>
            <a class='dropdown-item' href='/me/stored/courses'>My Courses</a>
            <div class='dropdown-divider'></div>
            <a class='dropdown-item' href='/me/stored/news'>My Blogs</a>
            <div class='dropdown-divider'></div>
            <a class='dropdown-item' href='/me/stored/courses'>Sign out</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>